body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #fafafa;
}

h1 {
    font-size: 2.2rem;
    margin-top: 15px;
    color: #444;
}

#color-palette {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.color-btn {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: 3px solid #333;
    cursor: pointer;
}

#grid {
    display: grid;
    margin: 0 auto;
    width: 90vw;
    max-width: 420px;
    gap: 2px;
}
.cell {
    aspect-ratio: 1;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
}
